.footerText, .title{
  text-align: center;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  background: #6A3D52;
  color: #A28BFA;
  height: auto;
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 1rem 0 2rem 0;
}

.footer-content > a {
  text-decoration: none;
  color: white;
}

.footer-content{
  display: flex;
  flex-flow: column;
}

@media only screen and (max-width: 414px){ 
  .footer{
    flex-wrap: wrap;
}
}
