footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    position: fixed;
    height: 50px;
    font-size: 1rem;
    width: 100%;
    z-index: 5;
    align-items: center;
    margin-bottom: 0px;
  }
  