@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


.title {
  font-family: 'Bad Script', cursive;
  color: white;
  text-align: center;
}

.sub-title{
  margin: 0%;
  padding: 1rem;
}

.s1 {
  background-color: #F26627;
  color: white;
}

.s2 {
  background-color: #9BD7D1;
  color: #325D79;
}

section {
  z-index: 4;
}

.dark-text{
  color: #325D79;
}

.light-text {
  color: white;
}

.words{
  margin: 0;
  line-height: 1.8rem;
  font-size: 1.2rem;
  padding: 0 3rem 2rem 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  kerning: 35%;
}
